.aside
  float: left
  width: $width__aside
  min-height: 100vh
  background-image: linear-gradient(to bottom, #343742, $color__black-light)
  
  @include max-screen(1250px)
    width: 280px
  
  @include max-screen(1020px)
    float: none
    position: fixed
    width: 100%
    height: 0
    min-height: 0
    transition: height 0.3s ease
    overflow: hidden
    z-index: 99
  
  &--active
    height: 100%
    padding-top: 15px
    overflow: scroll
    
    .aside__content
      padding-bottom: 15px
  
  &__logo
    display: block
    width: 100%
    padding-top: 27px
    padding-left: 30px
    padding-bottom: 13px
    background-color: $color__black-light
    box-sizing: border-box
    
    @include max-screen(1250px)
      padding: 25px 20px 10px
      
      img
        width: 100%
  
  &__filter
    width: 100%
    padding: 30px 25px 25px
    box-sizing: border-box
    
    @include max-screen(1250px)
      padding: 20px 15px
  
  &__form
    width: 100%
  
  &__user
    border-top: 1px solid #484b55