.campaigns
  padding-top: 40px
  padding-left: 20px
  box-sizing: border-box
  
  &--indent-bottom
    margin-bottom: 30px
  
  @include max-screen(1020px)
    padding: 40px 20px 0
  
  &__headline
    margin: 0 0 45px
    text-transform: uppercase
    font-family: $font-family__russo
    font-size: $font-size * 0.7
  
  &__list
    margin: 0
    padding: 0 0 55px
    list-style-type: none
    font-size: 0
  
    @include max-screen(1200px)
      padding-bottom: 0
  
  &__item
    display: inline-block
    vertical-align: top
    position: relative
    width: 23%
    height: 360px
    margin-right: 2%
    padding-bottom: 40px
    background-color: $color__white
    border-radius: 6px
    box-sizing: border-box
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.1)
  
    &:nth-child(4n)
      margin-right: 0
    
    @include max-screen(1440px)
      width: 24%
      margin-right: 1%
  
    @include max-screen(1200px)
      width: 30%
      margin-right: 3%
      margin-bottom: 70px
  
      &:nth-child(3n)
        margin-right: 0
  
      &:nth-child(4n)
        margin-right: 3%
  
    @include max-screen(1020px)
      width: 24%
      margin-right: 1%

      &:nth-child(3n)
        margin-right: 1%
  
      &:nth-child(4n)
        margin-right: 0
  
    @include max-screen(900px)
      width: 30%
      margin-right: 5%

      &:nth-child(3n)
        margin-right: 0
  
      &:nth-child(4n)
        margin-right: 5%
  
    @include max-screen(800px)
      width: 40%
      margin-right: 5%
      margin-left: 5%
  
      &:nth-child(3n)
        margin-right: 5%
        margin-left: 5%
  
      &:nth-child(4n)
        margin-right: 5%
        margin-left: 5%
  
      &:nth-child(2n)
        margin-right: 0
        
    @include max-screen(600px)
      display: block
      width: 80%
      margin: 0 auto 60px
  
      &:nth-child(3n)
        margin: 0 auto 60px
  
      &:nth-child(4n)
        margin: 0 auto 60px
  
      &:nth-child(2n)
        margin: 0 auto 60px
        
    @include max-screen(400px)
      width: 100%
  
  
  &__indicators
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: auto
    padding: 8px
    text-align: center
    background-color: $color__grey-light
    border-radius: 0 0 5px 5px
    box-sizing: border-box
    z-index: 10
  
  &__layouts
    position: absolute
    left: 0
    top: 100%
    width: 100%
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3))
    z-index: 9
  
  $width_layout: 100%
  $percent__top: 0%
  
  @for $i from 1 through 9
    $width_layout: $width_layout - 4%
    $percent__top: $percent__top + 3%
    $percent__bottom: $percent__top + 4%
    
    &__layout-#{$i}
      display: block
      width: $width_layout
      height: 6px
      margin: auto
      border-radius: 0 0 5px 5px
      background-image: linear-gradient(to bottom, darken($color__grey-light, $percent__bottom), darken($color__grey-light, $percent__top))
  
  &__velocity
    display: inline-block
    width: 180px
    margin-bottom: 5px
    margin-right: 0
    padding-top: 0
    line-height: 0.9
  
  
  &__velocity-caption
    display: inline-block
    vertical-align: bottom
    font-size: $font-size * 0.55
    color: rgba(29, 33, 45, 0.6)
  
  &__velocity-scale
    display: inline-block
    vertical-align: middle
    position: relative
    width: 135px
    height: 6px
    margin-right: 6px
    background-color: #dfdfe0
    border-radius: 15px
  
  &__velocity-range
    position: absolute
    top: 0
    left: 0
    height: 100%
    background-color: $color__coral
    border-radius: 15px
  
  &__velocity-value
    display: inline-block
    vertical-align: middle
    color: $color__coral
    font-size: $font-size * 0.7
  
  &__views
    float: left
    position: relative
    width: 100%
    padding-top: 0
    text-align: center
    color: $color__coral
    font-size: $font-size * 0.7
    box-sizing: border-box
    
    @include max-screen(1440px)
      float: none
      width: 100%
      padding-top: 0
      text-align: center
      padding-left: 0
    
    &::before
      content: ''
      position: relative
      display: inline-block
      vertical-align: middle
      top: auto
      margin-right: 5px
      width: 18px
      height: 12px
      @extend %eye-coral
      
      @include max-screen(1440px)
        position: relative
        display: inline-block
        vertical-align: middle
        top: auto
        margin-right: 5px
        
  &__single
    width: 725px
    height: auto
    padding: 10px
    background-color: $color__white
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.1)
    box-sizing: border-box
  
    @include max-screen(1200px)
      width: 600px
  
    @include max-screen(1020px)
      width: 725px
      margin: auto
  
    @include max-screen(765px)
      width: 100%
      margin: auto
        
      
    
  
    