.dropdown
  position: relative
  
  &[data-state='enabled']
    .dropdown__button
      background-color: $color__pink-dirty
      border-radius: 3px 3px 0 0
      
    .dropdown__list
      visibility: visible
      opacity: 1
  
  &__button
    display: block
    position: relative
    width: 100%
    margin: 0
    padding: 18px 40px 16px 16px
    text-align: left
    color: $color__white
    background-color: $color__grey-dark
    font-size: $font-size * 0.7
    font-family: $font-family__roboto
    font-weight: $font-weight__medium
    border: none
    border-radius: 3px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    transition: all 0.2s ease
    cursor: pointer
    z-index: 9
    
    &::after
      content: ''
      display: block
      position: absolute
      top: calc(50% - 4px)
      right: 22px
      width: 12px
      height: 9px
      @extend %triangle-down-white
      transition: all 0.2s ease
    
    &:focus
      outline: none
      
    &--active
      background-color: $color__pink-dirty
      border-radius: 3px 3px 0 0
      
      &::after
        transform: rotate(180deg)
      
      
  &__list
    visibility: hidden
    position: absolute
    top: auto
    left: 0
    width: 100%
    margin: 0
    padding: 0
    list-style-type: none
    background-color: $color__pink-dirty
    border-top: 1px solid $color__black-light
    border-right: none
    border-bottom: none
    border-left: none
    border-radius: 0 0 3px 3px
    opacity: 0
    transition: all 0.2s ease
    z-index: 10
    
    &--active
      visibility: visible
      opacity: 1

  
  &__input-radio
    display: none
    width: 0
    height: 0
    
    &:checked + .dropdown__label-radio
      color: $color__white
      background-color: $color__coral
    
  &__label-radio
    display: block
    padding: 13px 14px
    color: rgba(255, 255, 255, 0.6)
    font-size: $font-size * 0.7
    box-sizing: border-box
    cursor: pointer
    
    &:last-child
      border-radius:  0 0 3px 3px
      
  &__input-checkbox
    display: block
    width: 0
    height: 0
    
    &:checked + .dropdown__label-checkbox
      color: $color__white
      font-weight: $font-weight__medium
      
      &::before
        background-color: $color__black-light
        
      &::after
        display: block
    
  &__label-checkbox
    display: block
    position: relative
    padding: 13px 14px 13px 40px
    color: rgba(255, 255, 255, 0.6)
    font-size: $font-size * 0.7
    box-sizing: border-box
    cursor: pointer
    
    &::before
      content: ''
      display: block
      position: absolute
      top: calc(50% - 8px)
      left: 14px
      width: 16px
      height: 16px
      border: 1px solid $color__black-light
      border-radius: 3px
      box-sizing: border-box
      
    &::after
      content: ''
      display: none
      position: absolute
      top: calc(50% - 4px)
      left: 18px
      width: 6px
      height: 3px
      border-left: 2px solid $color__white
      border-bottom: 2px solid $color__white
      transform: rotate(-40deg)