.filter-button
  display: none
  position: fixed
  top: 0
  right: 15px
  padding: 6px 12px
  color: $color__white
  background-color: $color__grey-dark
  font-family: $font-family__russo
  font-weight: $font-weight__light
  font-size: $font-size * 0.7
  border: none
  border-radius: 0 0 6px 6px
  transition: background-color 0.3s ease
  z-index: 100
  
  &:focus
    outline: none
    
  @include max-screen(1020px)
    display: block
    
  &[data-state="enabled"]
    background-color: $color__coral