.form
  position: relative
  margin-bottom: 20px
  padding-bottom: 28px
  
  &:last-child
    margin-bottom: 0
    padding-bottom: 0
  
  &--bordered
    &::after
      content: ''
      display: block
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 1px
      background-color: #484b55
  
  &__title
    display: block
    margin-bottom: 20px
    text-transform: uppercase
    color: rgba(255, 255, 255, 0.6)
    font-family: $font-family__russo
    font-size: $font-size * 0.7
  
  &__item
    margin-bottom: 25px
    font-size: 0 //display inline-block margin right fix
  
    &:last-child
      margin-bottom: 0
  
  &__item-title
    display: block
    margin-bottom: 5px
    font-size: $font-size * 0.7
    font-weight: $font-weight__medium
    color: rgba(255, 255, 255, 0.6)
  
  &__input-search
    display: inline-block
    vertical-align: top
    width: calc(100% - 50px)
    padding: 16px
    color: $color__white
    background-color: $color__grey-dark
    font-size: $font-size * 0.8
    font-family: $font-family__roboto
    font-weight: $font-weight__medium
    border: none
    border-radius: 3px 0 0 3px
    box-sizing: border-box
    transition: all 0.2s ease-out
  
    &:focus
      outline: none
      background-color: $color__pink-dirty
  
    &:focus::-webkit-input-placeholder
      opacity: 0
  
    &:focus::-moz-placeholder
      opacity: 0
  
    &:focus:-ms-input-placeholder
      opacity: 0
      
  &__button-search
    display: inline-block
    vertical-align: top
    width: 50px
    height: 50px
    padding: 0
    background-color: $color__coral
    background-image: url('../img/icons_svg/icon__search.svg')
    background-repeat: no-repeat
    background-position: 50%
    font-size: 0
    border: none
    border-radius: 0 3px 3px 0
    transition: background-color 0.3s ease-out
    cursor: pointer
  
    &:focus
      outline: none
      
    &:hover
      background-color: #ef7f73
  
  &__input-range
    display: none
    
  &__input-radio
    display: none
    
    &:checked + .form__label-radio
      font-weight: $font-weight__medium
      &::before
        background-color: $color__white
        border-width: 5px
    
  &__label-radio
    display: inline-block
    vertical-align: middle
    position: relative
    margin-right: 20px
    padding-left: 26px
    color: $color__white
    font-size: $font-size * 0.7
    cursor: pointer
    
    &:last-child
      margin-right: 0
    
    &::before
      content: ''
      display: block
      position: absolute
      top: calc(50% - 8px)
      left: 0
      width: 16px
      height: 16px
      border-radius: 50%
      border: 1px solid $color__coral
      box-sizing: border-box
      
  &__input-text
    display: block
    width: 100%
    padding: 16px
    color: $color__white
    background-color: $color__grey-dark
    font-size: $font-size * 0.8
    font-family: $font-family__roboto
    font-weight: $font-weight__medium
    border: none
    border-radius: 3px
    box-sizing: border-box
    transition: all 0.2s ease-out
  
    &:focus
      outline: none
      background-color: $color__pink-dirty
  
    &:focus::-webkit-input-placeholder
      opacity: 0
  
    &:focus::-moz-placeholder
      opacity: 0
  
    &:focus:-ms-input-placeholder
      opacity: 0
      
  &__button-submit
    display: block
    width: 100%
    padding: 16px
    color: $color__white
    background-color: $color__coral
    font-size: $font-size * 0.8
    font-family: $font-family__roboto
    font-weight: $font-weight__medium
    border: none
    border-radius: 3px
    transition: background-color 0.3s ease-out
    cursor: pointer
  
    &:focus
      outline: none
  
    &:hover
      background-color: #ef7f73
    
    