.graph
  max-width: 1090px
  padding: 0 20px
  box-sizing: border-box
  
  &__content
    width: 100%
    padding: 17px 27px
    background-color: $color__white
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.1)
    box-sizing: border-box
  
  &__headline
    margin: 0 0 45px
    text-transform: uppercase
    font-family: $font-family__russo
    font-size: $font-size * 0.7