.introduction
  padding-left: 20px
  background-color: $color__white
  line-height: 1
  box-sizing: border-box
  overflow: hidden
  
  &::after
    content: ''
    display: table
    clear: both
  
  &__stats
    float: left
    width: 50%
    padding-top: 30px
    border-right: 2px solid $color__grey-light
    box-sizing: border-box
    
  &__search
    float: right
    width: 50%
    padding: 30px 20px 0
    font-size: 0
    box-sizing: border-box
    
  &__headline
    margin: 0
    text-transform: uppercase
    font-family: $font-family__russo
    font-size: $font-size * 1.8
    font-weight: $font-weight__light
    
  &__greeting
    margin: 0 0 60px
    position: relative
    color: rgba(29, 32, 44, 0.6)
    font-size: $font-size * 0.9
  
    &::after
      content: ''
      display: block
      position: absolute
      top: calc(100% + 15px)
      left: 0
      width: 40px
      height: 4px
      background-color: $color__blue
      
  
    
    
    
    
    