.range
  padding-top: 10px
  
  &__min-value,
  &__max-value
    display: inline-block
    vertical-align: middle
    margin-right: 8px
    color: rgba(255, 255, 255, 0.6)
    font-size: $font-size * 0.7
    
  &__max-value
    margin-right: 0
    
  &__scale
    display: inline-block
    vertical-align: middle
    position: relative
    margin-right: 8px
    width: 210px
    height: 12px
    background-color: #464852
    border-radius: 10px
    
  &__indicator
    position: absolute
    top: 0
    left: 0
    height: 100%
    background-color: $color__coral
    border-radius: 10px
    
  &__button
    display: block
    position: absolute
    top: calc(50% - 13px)
    width: 26px
    height: 26px
    margin: 0
    padding: 0
    text-align: center
    color: $color__coral
    background-color: $color__white
    font-family: $font-family__roboto
    font-size: $font-size * 0.7
    font-weight: $font-weight__medium
    line-height: 26px
    border: none
    border-radius: 50%
    cursor: pointer
    
    &:focus
      outline: none
    
    
    