.search
  padding: 0 20px 0
  
  @include max-screen(750px)
    padding: 0
  
  &__form
    margin-bottom: 20px
    font-size: 0 //display inline block margin right fix

  
  &__input
    -webkit-appearance: none
    display: inline-block
    vertical-align: top
    width: calc(100% - 44px)
    height: 44px
    padding: 13px 18px
    color: $color__white
    background-color: $color__white
    font-size: $font-size * 0.7
    font-family: $font-family__roboto
    font-weight: $font-weight__regular
    border: 1px solid #D2D3D5
    border-right: none
    border-radius: 5px 0 0 5px
    box-sizing: border-box
    transition: all 0.2s ease-out
    
    &:focus
      outline: none
    
    &:focus::-webkit-input-placeholder
      opacity: 0
    
    &:focus::-moz-placeholder
      opacity: 0
    
    &:focus:-ms-input-placeholder
      opacity: 0
  
  &__button
    -webkit-appearance: none
    display: inline-block
    vertical-align: top
    width: 44px
    height: 44px
    padding: 0
    background-color: $color__coral
    background-image: url('../img/icons_svg/icon__search.svg')
    background-repeat: no-repeat
    background-position: 50%
    font-size: 0
    border: none
    border-radius: 0 3px 3px 0
    transition: background-color 0.3s ease-out
    cursor: pointer
    
    &:focus
      outline: none
    
    &:hover
      background-color: #ef7f73
  
  &__headline
    display: block
    margin: 0 0 10px
    color: rgba(29, 33, 45, 0.6)
    font-size: $font-size * 0.7
    font-weight: $font-weight__regular
  
  &__list
    margin: 0
    padding: 10px 0 0
    list-style-type: none
    font-size: 0
  
  &__item
    display: inline-block
    vertical-align: middle
    width: 16.6666%
    margin-right: 0
    margin-bottom: 5px
    
    &:nth-child(6n)
      margin-right: 0
      
    @include max-screen(1440px)
      width: 16.6666%
      margin-right: 0
  
    @include max-screen(370px)
      width: 33.33333%
      
  
  &__link
    display: block
    position: relative
    width: 100%
    height: 75px
    padding-top: 5px
    text-align: center
    text-decoration: none
    margin: 0
    box-sizing: border-box
    
    @include max-screen(1440px)
      width: 100%
    
    &--indent-top
      padding-top: 15px
    
    
    svg
      fill: #252935
      transition: fill 0.3s ease
    
    &:hover
      .search__link-caption
        color: $color__coral
      
      svg
        fill: $color__coral
  
  &__link-caption
    display: block
    position: absolute
    width: 100%
    left: 0
    bottom: 10px
    text-align: center
    color: rgba(29, 33, 45, 0.6)
    font-size: $font-size * 0.55
    font-weight: $font-weight__regular