.stats
  display: block
  width: 100%
  padding-top: 50px
  padding-bottom: 30px
  
  @include max-screen(1250px)
    padding-top: 20px
    
  @include max-screen(750px)
    padding-bottom: 0
  
  &::after
    content: ''
    display: table
    clear: both
  
  &__headline
    margin: 0 0 20px
    text-transform: uppercase
    font-family: $font-family__russo
    font-size: $font-size * 0.7
    font-weight: $font-weight__light
    
  &__layout
    float: left
    width: 50%
    
    @include max-screen(1250px)
      text-align: center
      
      &--left
        width: 40%
        
      &--right
        width: 60%
  
    @include max-screen(370px)
      float: none
      width: 100%
      margin-bottom: 20px
    
  &__layout-headline
    margin: 0 0 42px
    padding-right: 10px
    color: rgba(29, 33, 45, 0.6)
    font-size: $font-size * 0.7
    font-weight: $font-weight__regular
    box-sizing: border-box
  
    @include max-screen(1250px)
      margin-bottom: 20px
      text-align: left
    
    &--verticals
      margin-bottom: 37px
      
      @include max-screen(1250px)
        margin-bottom: 40px
    
  &__circle
    display: inline-block
    vertical-align: top
    position: relative
    width: 102px
    height: 102px
    margin: 0 18px 0 0
    background-color: #eee
    border: 4px solid $color__grey-light
    border-radius: 50%
  
    @include max-screen(1250px)
      margin-right: 5px
      margin-bottom: 10px
    
    figcaption
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding-top: 24px
      text-align: center
      box-sizing: border-box

      
  &__circle-value
    display: block
    color: $color__coral
    font-family: $font-family__russo
    font-size: $font-size * 1.2
    
  &__circle-caption
    display: inline-block
    vertical-align: middle
    padding: 0 12px
    color: rgba(29, 33, 45, 0.61)
    font-size: $font-size * 0.55
    line-height: 1
    
  &__campaigns
    display: inline-block
    vertical-align: top
    width: 70px
    text-align: center
  
    @include max-screen(1250px)
      width: 100%
    
  &__campaigns-item
    position: relative
    margin-bottom: 25px
    
    &:last-child
      margin-bottom: 0
    
    &::after
      content: ''
      display: block
      position: absolute
      top: calc(100% + 10px)
      left: calc(50% - 20px)
      width: 40px
      height: 2px
      background-color: rgba(29, 33, 45, 0.25)

    @include max-screen(1250px)
      display: inline-block
      vertical-align: top
      margin-right: 4px
      
      &:last-child
        margin-right: 0
    
  &__campaigns-value
    display: block
    margin-bottom: 7px
    font-family: $font-family__russo
    font-size: $font-size * 0.9
    
  &__campaigns-caption
    display: block
    color: rgba(29, 33, 45, 0.61)
    font-size: $font-size * 0.55
    line-height: 1
    
  &__verticals
    height: 120px
    font-size: 0
    line-height: 1
    
  &__verticals-item
    display: inline-block
    vertical-align: bottom
    position: relative
    width: 25px
    height: 100%
    margin-right: 25px
    padding-top: 105px
    padding-bottom: 15px
    box-sizing: border-box
    text-align: center
    color: rgba(29, 33, 45, 0.61)
    font-size: $font-size * 0.5
    line-height: 1
  
    &:last-child
      margin-right: 0
      
    @include max-screen(1250px)
      margin-right: 10px
      
    @include max-screen(750px)
      margin-right: 25px
      
    @include max-screen(500px)
      margin-right: 10px
      
  &__verticals-range
    position: absolute
    bottom: 25px
    left: 0
    width: 100%
    background-image: linear-gradient(to bottom, #f8c6bf, $color__coral)
    border-radius: 5px 5px 0 0
    
    
  &__verticals-caption
    text-align: center
    color: rgba(29, 33, 45, 0.61)
    font-size: $font-size * 0.5
    line-height: 1
    
    
    
    