.top-bar
  padding-left: 20px
  background-color: $color__white
  line-height: 1
  box-sizing: border-box
  
  @include max-screen(750px)
    padding-left: 0
  
  &::after
    content: ''
    display: table
    clear: both
  
  &__headline
    margin: 0
    text-transform: uppercase
    font-family: $font-family__russo
    font-size: $font-size * 1.8
    font-weight: $font-weight__light
  
  &__caption
    margin: 0 0 20px
    position: relative
    color: rgba(29, 32, 44, 0.6)
    font-size: $font-size * 0.9
    
    &::after
      content: ''
      display: block
      position: absolute
      top: calc(100% + 15px)
      left: 0
      width: 40px
      height: 4px
      background-color: $color__blue
      
  &__layout
    float: left
    width: 50%
    padding-top: 25px
    box-sizing: border-box
    
    &:first-child
      border-right: 2px solid $color__grey-light
      
    &:last-child
      margin-left: -2px
      border-left: 2px solid $color__grey-light
      
    @include max-screen(1250px)
      &--stats
        width: 45%
        
      &--search
        width: 55%
        
    @include max-screen(1020px)
      padding-top: 35px
  
    @include max-screen(750px)
      float: none
      width: 100%
      padding: 35px 15px 0
      
      &:last-child
        padding-top: 10px
      
  &__links
    padding-top: 60px
    
  &__links-caption
    margin: 0 0 15px
    color: rgba(29, 33, 45, 0.6)
    font-size: $font-size * 0.7
    font-weight: $font-weight__regular
    
  &__link
    display: block
    margin-bottom: 15px
    text-decoration: none
    color: $color__coral
    font-size: $font-size * 0.7