.user
  position: relative
  padding: 18px 30px
  box-sizing: border-box
  cursor: pointer
  
  &::after
    content: ''
    display: block
    position: absolute
    top: calc(50% - 6px)
    right: 20px
    width: 12px
    height: 9px
    @extend %triangle-down-white
    transform: rotate(-90deg)
    
  
  &:hover
      
    .user__name
      color: $color__white
  
  &__menu
    display: none
    position: absolute
    left: 100%
    bottom: 0
    margin: 0
    padding: 15px
    background-color: #484b55
    list-style-type: none
    
  &__menu-item
    margin: 0
    padding: 0
    border-bottom: 1px solid $color__black-light
    
    &:last-child
      border-bottom: none
    
  &__menu-link
    display: block
    padding: 8px 5px
    text-decoration: none
    color: $color__white
    font-size: $font-size * 0.7
    
    &:hover
      color: darken($color__white, 15%)
    
  &__avatar
    display: inline-block
    vertical-align: middle
    width: 41px
    height: 41px
    margin-right: 10px
    background-color: $color__white
    border-radius: 50%
    overflow: hidden
    
    img
      width: 100%
    
  &__name
    display: inline-block
    vertical-align: middle
    color: rgba(255, 255, 255, 0.61)
    font-size: $font-size * 0.8
    transition: color 0.2s ease