.velocity
  position: relative
  margin-bottom: 30px
  
    
  &__headline
    margin-bottom: 5px
    color: rgba(29, 33, 45, 0.6)
    font-size: $font-size * 0.7
    font-weight: $font-weight__regular
    
  &__index
    margin-bottom: 11px
    &::after
      content: ''
      display: table
      clear: both
    
  &__scale
    float: left
    position: relative
    width: calc(100% - 70px)
    height: 25px
    background-color: $color__grey-light
    
  &__range
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 80%
    background-image: linear-gradient(to right, $color__coral, #f8c6bf)
    
  &__value
    float: right
    width: 70px
    padding-top: 5px
    text-align: right
    color: $color__coral
    font-size: $font-size * 0.7
    
  &__download
    display: block
    width: 85px
    height: 77px
    padding-top: 50px
    text-decoration: none
    text-align: center
    color: rgba(29, 33, 45, 0.6)
    font-size: $font-size * 0.5
    box-sizing: border-box
    clear: both
    @extend %download-black
    background-repeat: no-repeat
    background-size: 23px 23px
    background-position: 50% 30%
    
  &__views
    position: absolute
    right: 0
    bottom: 0
    padding-top: 0
    text-align: center
    color: $color__coral
    font-size: $font-size * 0.7
    box-sizing: border-box

    &::before
      content: ''
      position: relative
      display: inline-block
      vertical-align: middle
      top: auto
      margin-right: 5px
      width: 18px
      height: 12px
      @extend %eye-coral