@font-face {
  font-family: $font-family__roboto;
  src: url($path__fonts + 'Roboto-Regular-webfont.eot');
  src: url($path__fonts + 'Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url($path__fonts + 'Roboto-Regular-webfont.woff') format('woff'),
  url($path__fonts + 'Roboto-Regular-webfont.ttf') format('truetype'),
  url($path__fonts + 'Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: $font-weight__regular;
  font-style: normal;
}

@font-face {
  font-family: $font-family__roboto;
  src: url($path__fonts + 'Roboto-Medium-webfont.eot');
  src: url($path__fonts + 'Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url($path__fonts + 'Roboto-Medium-webfont.woff') format('woff'),
  url($path__fonts + 'Roboto-Medium-webfont.ttf') format('truetype'),
  url($path__fonts + 'Roboto-Medium-webfont.svg#robotomedium') format('svg');
  font-weight: $font-weight__medium;
  font-style: normal;
}

@font-face {
  font-family: $font-family__russo;
  src: url($path__fonts + 'russo_one_regular-webfont.eot');
  src: url($path__fonts + 'russo_one_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url($path__fonts + 'russo_one_regular-webfont.woff2') format('woff2'),
  url($path__fonts + 'russo_one_regular-webfont.woff') format('woff'),
  url($path__fonts + 'russo_one_regular-webfont.ttf') format('truetype'),
  url($path__fonts + 'russo_one_regular-webfont.svg#russo_oneregular') format('svg');
  font-weight: $font-weight__regular;
  font-style: normal;
}