//Libs
@import '../../node_modules/sass-mediaqueries/media-queries'

//Pre settings
@import 'variables'
@import 'fonts'
@import 'normalize'

//Basic
html
  height: 100%
  margin: 0
  padding: 0

body
  position: relative
  margin: 0
  padding: 0
  color: $color__black-light
  background-color: $color__white
  text-size-adjust: 100%
  font-family: $font-family__roboto
  font-weight: $font-weight__regular
  font-size: $font-size
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-scroll-behavior: smooth
  -o-scroll-behavior: smooth
  scroll-behavior: smooth
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  overflow-x: hidden
  
  
main
  float: left
  width: calc(100% - #{$width__aside})
  padding-bottom: 20px
  background-color: $color__grey-light
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.36)
  
  @include max-screen(1250px)
    width: calc(100% - 280px)

  @include max-screen(1020px)
    float: none
    width: 100%
  

//Parts
@import 'icons-data-uri'
@import 'parts/dashboard/aside'
@import 'parts/dashboard/form'
@import 'parts/dashboard/dropdown'
@import 'parts/dashboard/range'
@import 'parts/dashboard/top-bar'
@import 'parts/dashboard/introduction'
@import 'parts/dashboard/stats'
@import 'parts/dashboard/search'
@import 'parts/dashboard/campaigns'
@import 'parts/dashboard/user'
@import 'parts/dashboard/filter-button'
@import 'parts/dashboard/velocity'
@import 'parts/dashboard/graph'

//Helpers
.no-scroll
  overflow: hidden
  
.font-weight--bold
  font-weight: $font-weight__medium