//Libs
@import '../../node_modules/sass-mediaqueries/media-queries'

//Pre settings
@import 'variables'
@import 'fonts'
@import 'normalize'

//Basic
html
  height: 100%
  margin: 0
  padding: 0

body
  position: relative
  margin: 0
  padding-top: 100vh
  padding-bottom: 530px
  color: $color__black-light
  background-color: $color__black
  text-size-adjust: 100%
  font-family: $font-family__roboto
  font-weight: $font-weight__regular
  font-size: $font-size
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-scroll-behavior: smooth
  -o-scroll-behavior: smooth
  scroll-behavior: smooth
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  overflow-x: hidden
  
  @include max-screen(700px)
    padding-bottom: 0
  
//Parts
@import 'icons-data-uri'
@import 'parts/front/header'
@import 'parts/front/introduction'
@import 'parts/front/features'
@import 'parts/front/benefits'
@import 'parts/front/footer'

//Helpers
