<form action="/" class="aside__form  form  form--bordered">
  <div class="form__item">
    <input type="text" class="form__input-search" placeholder="Search...">
    <button type="submit" class="form__button-search">Search</button>
  </div>
  <div class="form__item">
    <span class="form__item-title">Category</span>
    <div class="dropdown" data-type="dropdown-multiple">
      <button type="button" class="dropdown__button" data-list="category">All</button>
      <fieldset class="dropdown__list"  id="category">
        <input type="checkbox" name="group_name" id="category_1" class="dropdown__input-checkbox" checked>
        <label for="category_1" class="dropdown__label-checkbox">All</label>
        <input type="checkbox" name="group_name" id="category_2" class="dropdown__input-checkbox">
        <label for="category_2" class="dropdown__label-checkbox">Sport</label>
        <input type="checkbox" name="group_name" id="category_3" class="dropdown__input-checkbox">
        <label for="category_3" class="dropdown__label-checkbox">Finance</label>
        <input type="checkbox" name="group_name" id="category_4" class="dropdown__input-checkbox">
        <label for="category_4" class="dropdown__label-checkbox">News</label>
        <input type="checkbox" name="group_name" id="category_5" class="dropdown__input-checkbox">
        <label for="category_5" class="dropdown__label-checkbox">Politic</label>
      </fieldset>
    </div>
  </div>
  <div class="form__item">
    <span class="form__item-title">Timeframe</span>
    <div class="dropdown" data-type="dropdown-singular">
      <button type="button" class="dropdown__button" data-list="timeframe">Last 7 Days</button>
      <fieldset class="dropdown__list" id="timeframe">
        <input type="radio" name="timeframe" id="radio_1" class="dropdown__input-radio">
        <label for="radio_1" class="dropdown__label-radio">Last Day</label>
        <input type="radio" name="timeframe" id="radio_2" class="dropdown__input-radio" checked>
        <label for="radio_2" class="dropdown__label-radio">Last 7 Days</label>
        <input type="radio" name="timeframe" id="radio_3" class="dropdown__input-radio">
        <label for="radio_3" class="dropdown__label-radio">Last Month</label>
        <input type="radio" name="timeframe" id="radio_4" class="dropdown__input-radio">
        <label for="radio_4" class="dropdown__label-radio">Last Year</label>
      </fieldset>
    </div>
  </div>
</form>