<form action="/" class="aside__form  form">
  <span class="form__title">Filter</span>
  <div class="form__item">
    <span class="form__item-title">Velocity</span>
    <input type="range" class="form__input-range" id="velocity-range" min="0" max="10" step="1" value="6" title="range">
    <div class="range">
      <span class="range__min-value">0</span>
      <div class="range__scale" id="cnt__range-scale">
        <div class="range__indicator" id="cnt__indicator"></div>
        <button type="button" class="range__button" id="btn__range"></button>
      </div>
      <span class="range__max-value">10</span>
    </div>
  </div>
  <div class="form__item">
    <span class="form__item-title">Ad Format</span>
    <div class="dropdown" data-type="dropdown-singular">
      <button type="button" class="dropdown__button" data-list="format">RHS</button>
      <fieldset class="dropdown__list" id="format">
        <input type="radio" name="format" id="format_1" class="dropdown__input-radio" checked>
        <label for="format_1" class="dropdown__label-radio">RHS</label>
        <input type="radio" name="format" id="format_2" class="dropdown__input-radio">
        <label for="format_2" class="dropdown__label-radio">VHS</label>
      </fieldset>
    </div>
  </div>
  <div class="form__item">
    <span class="form__item-title">Device</span>
    <input type="radio" class="form__input-radio" name="device" id="device_1" checked>
    <label for="device_1" class="form__label-radio">Mobile</label>
    <input type="radio" class="form__input-radio" name="device" id="device_2">
    <label for="device_2" class="form__label-radio">Desktop</label>
    <input type="radio" class="form__input-radio" name="device" id="device_3">
    <label for="device_3" class="form__label-radio">Both</label>
  </div>
  <div class="form__item">
    <span class="form__item-title">Country</span>
    <div class="dropdown" data-type="dropdown-multiple">
      <button type="button" class="dropdown__button" data-list="country">United Kingdom</button>
      <fieldset class="dropdown__list" id="country">
        <input type="checkbox" name="country_1" id="country_1" class="dropdown__input-checkbox">
        <label for="country_1" class="dropdown__label-checkbox">Ukraine</label>
        <input type="checkbox" name="country_2" id="country_2" class="dropdown__input-checkbox">
        <label for="country_2" class="dropdown__label-checkbox">USA</label>
        <input type="checkbox" name="country_3" id="country_3" class="dropdown__input-checkbox">
        <label for="country_3" class="dropdown__label-checkbox">Brazil</label>
        <input type="checkbox" name="country_4" id="country_4" class="dropdown__input-checkbox" checked>
        <label for="country_4" class="dropdown__label-checkbox">United Kingdom</label>
      </fieldset>
    </div>
  </div>
  <div class="form__item">
    <span class="form__item-title">Age</span>
    <div class="dropdown" data-type="dropdown-singular">
      <button type="button" class="dropdown__button" data-list="age">18</button>
      <fieldset class="dropdown__list" id="age">
        <input type="radio" name="age" id="age_1" class="dropdown__input-radio">
        <label for="age_1" class="dropdown__label-radio">18</label>
        <input type="radio" name="age" id="age_2" class="dropdown__input-radio" checked>
        <label for="age_2" class="dropdown__label-radio">19</label>
        <input type="radio" name="age" id="age_3" class="dropdown__input-radio">
        <label for="age_3" class="dropdown__label-radio">20</label>
      </fieldset>
    </div>
  </div>
  <div class="form__item">
    <span class="form__item-title">Gender</span>
    <input type="radio" class="form__input-radio" name="gender" id="gender_1" checked>
    <label for="gender_1" class="form__label-radio">Male</label>
    <input type="radio" class="form__input-radio" name="gender" id="gender_2">
    <label for="gender_2" class="form__label-radio">Female</label>
  </div>
  <div class="form__item">
    <span class="form__item-title">Video Views</span>
    <div class="dropdown" data-type="dropdown-singular">
      <button type="button" class="dropdown__button" data-list="video_views">Over 500</button>
      <fieldset class="dropdown__list" id="video_views">
        <input type="radio" name="video_views" id="video_views_1" class="dropdown__input-radio">
        <label for="video_views_1" class="dropdown__label-radio">Over 500</label>
        <input type="radio" name="video_views" id="video_views_2" class="dropdown__input-radio" checked>
        <label for="video_views_2" class="dropdown__label-radio">Over 1000</label>
        <input type="radio" name="video_views" id="video_views_3" class="dropdown__input-radio">
        <label for="video_views_3" class="dropdown__label-radio">Over 5000</label>
      </fieldset>
    </div>
  </div>
  <div class="form__item">
    <span class="form__item-title">Likes</span>
    <div class="dropdown" data-type="dropdown-singular">
      <button type="button" class="dropdown__button" data-list="likes">Over 500</button>
      <fieldset class="dropdown__list" id="likes">
        <input type="radio" name="likes" id="likes_1" class="dropdown__input-radio">
        <label for="likes_1" class="dropdown__label-radio">Over 500</label>
        <input type="radio" name="likes" id="likes_2" class="dropdown__input-radio" checked>
        <label for="likes_2" class="dropdown__label-radio">Over 1000</label>
        <input type="radio" name="likes" id="likes_3" class="dropdown__input-radio">
        <label for="likes_3" class="dropdown__label-radio">Over 5000</label>
      </fieldset>
    </div>
  </div>
  <div class="form__item">
    <span class="form__item-title">Shares</span>
    <div class="dropdown" data-type="dropdown-singular">
      <button type="button" class="dropdown__button" data-list="shares">Over 500</button>
      <fieldset class="dropdown__list" id="shares">
        <input type="radio" name="shares" id="shares_1" class="dropdown__input-radio">
        <label for="shares_1" class="dropdown__label-radio">Over 500</label>
        <input type="radio" name="shares" id="shares_2" class="dropdown__input-radio" checked>
        <label for="shares_2" class="dropdown__label-radio">Over 1000</label>
        <input type="radio" name="shares" id="shares_3" class="dropdown__input-radio">
        <label for="shares_3" class="dropdown__label-radio">Over 5000</label>
      </fieldset>
    </div>
  </div>
  <div class="form__item">
    <span class="form__item-title">Comments</span>
    <div class="dropdown" data-type="dropdown-singular">
      <button type="button" class="dropdown__button" data-list="comments">Over 500</button>
      <fieldset class="dropdown__list" id="comments">
        <input type="radio" name="comments" id="comments_1" class="dropdown__input-radio">
        <label for="comments_1" class="dropdown__label-radio">Over 500</label>
        <input type="radio" name="comments" id="comments_2" class="dropdown__input-radio" checked>
        <label for="comments_2" class="dropdown__label-radio">Over 1000</label>
        <input type="radio" name="comments" id="comments_3" class="dropdown__input-radio">
        <label for="comments_3" class="dropdown__label-radio">Over 5000</label>
      </fieldset>
    </div>
  </div>
  <div class="form__item">
    <span class="form__item-title">URL</span>
    <input type="url" class="form__input-text" placeholder="Enter url...">
  </div>
  <div class="form__item">
    <button class="form__button-submit">Apply Filters</button>
  </div>
</form>