{% import '../../data/benefits.html' as icon %}
<article class="search">
  <form action="/" class="search__form">
    <input type="text" class="search__input" placeholder="What are you looking for today?…">
    <button type="submit" class="search__button"></button>
  </form>
  <span class="search__headline">Search by category</span>
  <ul class="search__list">
    <li class="search__item">
      <a href="#" class="search__link  search__link--indent-top">
        {% include '../../../img/icons_svg/icon__mobile-gaming.svg' %}
        <span class="search__link-caption">Mobile<br>Gaming</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__mobile-apps.svg' %}
        <span class="search__link-caption">Mobile Apps</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__adult.svg' %}
        <span class="search__link-caption">Adults</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__dating.svg' %}
        <span class="search__link-caption">Dating</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__pin-submit.svg' %}
        <span class="search__link-caption">Pin Submit</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__travel.svg' %}
        <span class="search__link-caption">Travel</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__solar.svg' %}
        <span class="search__link-caption">Solar</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__credit.svg' %}
        <span class="search__link-caption">Credit</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__antivirus.svg' %}
        <span class="search__link-caption">Anti Virus</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__diet.svg' %}
        <span class="search__link-caption">Diet</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__muscle.svg' %}
        <span class="search__link-caption">Muscle</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__skin.svg' %}
        <span class="search__link-caption">Skin</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__binary.svg' %}
        <span class="search__link-caption">Binary</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link  search__link--indent-top">
        {% include '../../../img/icons_svg/icon__forex.svg' %}
        <span class="search__link-caption">Forex</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__apparel.svg' %}
        <span class="search__link-caption">Apparel</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__lead-gen.svg' %}
        <span class="search__link-caption">Lead Gen</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__sweepstake.svg' %}
        <span class="search__link-caption">Sweepstake</span>
      </a>
    </li>
    <li class="search__item">
      <a href="#" class="search__link">
        {% include '../../../img/icons_svg/icon__brain.svg' %}
        <span class="search__link-caption">Brain</span>
      </a>
    </li>
  </ul>
</article>