<article class="stats">
  <h2 class="stats__headline">Topline Stats</h2>
  <div class="stats__layout stats__layout--left">
    <h3 class="stats__layout-headline">New Campaigns added this week</h3>
    <figure class="stats__circle">
      <figcaption>
        <span class="stats__circle-value">176</span>
        <span class="stats__circle-caption">Last Updated: 22-28th May</span>
      </figcaption>
    </figure>
    <div class="stats__campaigns">
      <div class="stats__campaigns-item">
        <span class="stats__campaigns-value">287</span>
        <span class="stats__campaigns-caption">15-21st May</span>
      </div>
      <div class="stats__campaigns-item">
        <span class="stats__campaigns-value">115</span>
        <span class="stats__campaigns-caption">8-14th May</span>
      </div>
    </div>
  </div>
  <div class="stats__layout stats__layout--right">
    <h3 class="stats__layout-headline  stats__layout-headline--verticals">Top 5 Verticals this week</h3>
    <div class="stats__verticals">
      <div class="stats__verticals-item">
        <div class="stats__verticals-range" data-value="2.4"></div>
        <div class="stats__verticals-caption">Diet</div>
      </div>
      <div class="stats__verticals-item">
        <div class="stats__verticals-range" data-value="10"></div>
        <div class="stats__verticals-caption">Skin</div>
      </div>
      <div class="stats__verticals-item">
        <div class="stats__verticals-range" data-value="7"></div>
        <div class="stats__verticals-caption">Travel</div>
      </div>
      <div class="stats__verticals-item">
        <div class="stats__verticals-range" data-value="4"></div>
        <div class="stats__verticals-caption">Dating</div></div>
      <div class="stats__verticals-item">
        <div class="stats__verticals-range" data-value="6.7"></div>
        <div class="stats__verticals-caption">Adult</div>
      </div>
    </div>
  </div>
</article>