<!DOCTYPE html>
<html lang="en">
<head>
  {% import '../data/variables.html' as data %}
  <title>{{ data.title }}</title>
  {% include '../parts/meta-tags.html' %}
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>
<body>
{% block header %}
{% endblock %}
<main>
	{% block main %}
	{% endblock %}
</main>
{% block footer %}
{% endblock %}
<script src="js/main.min.js"></script>
</body>
</html>