<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/dashboard.min.css">
</head>
<body>
{% block aside %}
{% endblock %}
<main id="cnt__main">
  {% block main %}
  {% endblock %}
</main>
<script src="js/dashboard.min.js"></script>
</body>
</html>