.benefits
  position: relative
  background-color: $color__white
  z-index: 10
  
  &--bottom-shadow
    box-shadow: 5px 0 15px 0 rgba(0, 0, 0, 0.7)
  
  &__content
    width: 1440px
    margin: auto
    padding: 110px 125px 20px
    box-sizing: border-box
    
    @include max-screen(1440px)
      width: 100%
      padding: 80px 60px 20px
      
    @include max-screen(1200px)
      padding: 50px 20px 20px
    
  
  &__headline
    position: relative
    margin: 0 0 86px
    text-align: center
    text-transform: uppercase
    font-size: $font-size * 1.8
    font-family: $font-family__russo
    font-weight: $font-weight__light
    
    &::after
      content: ''
      display: block
      position: absolute
      top: calc(100% + 26px)
      left: calc(50% - 20px)
      width: 40px
      height: 4px
      background-color: $color__blue
    
  &__list
    margin: 0
    padding: 0
    list-style-type: none
    font-size: 0
    
  &__item
    display: inline-block
    vertical-align: top
    position: relative
    width: 33.3333%
    margin-bottom: 80px
    padding-left: 93px
    padding-right: 20px
    box-sizing: border-box
  
    @include max-screen(1000px)
      width: 50%
      
    @include max-screen(900px)
      padding-left: 65px
      
    @include max-screen(700px)
      width: 100%
      margin-bottom: 30px
      
    @include max-screen(400px)
      padding-left: 50px
    
    &::after
      content: ''
      display: block
      position: absolute
      top: 5px
      left: 0
      width: 65px
      height: 65px
      @extend %red-plane
  
      @include max-screen(900px)
        width: 50px
        height: 50px
        
      @include max-screen(400px)
        width: 40px
        height: 40px
      
  
  &__item-title
    margin: 0 0 18px
    text-transform: lowercase
    font-family: $font-family__russo
    font-size: $font-size * 1.2
    font-weight: $font-weight__light
    
  &__item-description
    margin: 0
    font-size: $font-size * 0.9
    line-height: 1.2
    opacity: 0.6
    