.features
  position: relative
  z-index: 11
  
  &--bg-white
    background-color: $color__white
    
  &--bg-grey
    background-color: $color__grey-light
    
  &--top-shadow
    box-shadow: -5px 0 15px 0 rgba(0, 0, 0, 0.7)
  
  &__content
    width: 1440px
    margin: auto
    padding: 110px 235px
    box-sizing: border-box
    
    @include max-screen(1440px)
      width: 100%
      padding: 70px 150px
      
    @include max-screen(1200px)
      padding: 70px
      
    @include max-screen(1000px)
      padding: 60px
  
    @include max-screen(900px)
      padding: 50px
      
    @include max-screen(500px)
      padding: 30px
      
    @include max-screen(380px)
      padding: 30px 15px
    
    &::after
      content: ''
      display: table
      clear: both
    
    &--left-oriented
      
      .features__text
        float: left
  
        @include max-screen(810px)
          float: none
      
      .features__image
        float: right
  
        @include max-screen(810px)
          float: none
  
    &--right-oriented
  
      .features__text
        float: right
  
        @include max-screen(810px)
          float: none
  
      .features__image
        float: left
  
        @include max-screen(810px)
          float: none
        
  &__image
    padding-top: 15px
  
    @include max-screen(1000px)
      width: 230px
      
      img
        width: 100%
        height: auto
        
    @include max-screen(810px)
      margin:  0 auto 20px
      padding: 0
      
    @include max-screen(500px)
      width: 200px
  
  &__text
    width: 578px
  
    @include max-screen(1000px)
      width: 500px
      
    @include max-screen(900px)
      width: 440px
      
    @include max-screen(810px)
      width: 100%
      text-align: center
    
  &__headline
    margin: 0 0 30px
    text-transform: lowercase
    font-size: $font-size * 1.2
    font-family: $font-family__russo
    font-weight: $font-weight__light
    
  &__paragraph
    color: #1d202c
    margin-top: 0
    margin-bottom: 30px
    font-size: $font-size * 0.9
    opacity: 0.59
  
    @include max-screen(1000px)
      margin-bottom: 15px
    
    &:last-child
      margin-bottom: 0