.footer
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 770px
  padding-top: 347px
  background-image: url('../img/bg/bg__footer.png')
  background-size: cover
  background-position: 50%
  box-sizing: border-box
  opacity: 0
  
  @include max-screen(1100px)
    padding-top: 310px
  
  @include max-screen(700px)
    position: relative
    bottom: auto
    left: auto
    height: auto
    padding-top: 60px
  
  &__content
    width: 1440px
    margin: auto
    padding: 0 150px
    box-sizing: border-box
    
    @include max-screen(1400px)
      width: 100%
      padding: 0 50px
  
    @include max-screen(600px)
      padding: 0 15px

      
  
  &__terms
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    padding: 40px 15px
    text-align: center
    color: rgba(255, 255, 255, 0.6)
    background-color: $color__coral-dark
    font-size: $font-size * 0.9
    box-sizing: border-box
  
    @include max-screen(700px)
      position: relative
      padding: 20px
    
  &__layout-forms
    &::after
      content: ''
      display: table
      clear: both
      
  &__form
    float: left
    width: 50%
    text-align: center
    
    @include max-screen(1100px)
      float: none
      width: 80%
      margin: 0 auto 45px
      
    @include max-screen(800px)
      width: 100%
    
  &__form-fieldset
    margin: 0
    padding: 0
    font-size: 0 //display inline-block margin-right fix
    border: none
    
  &__form-legend
    display: block
    width: 100%
    margin-bottom: 67px
    text-align: center
    color: $color__white
    font-family: $font-family__russo
    font-size: $font-size * 1.2
    font-weight: 100
  
    @include max-screen(1100px)
      margin-bottom: 30px
    
  &__form-input
    -webkit-appearance: none
    display: inline-block
    vertical-align: top
    height: 48px
    padding: 14px 28px
    background-color: $color__white
    font-size: $font-size * 0.9
    font-family: $font-family__roboto
    border: none
    border-radius: 3px 0 0 3px
    box-sizing: border-box
    
    @include max-screen(600px)
      width: calc(100% - 100px)
    
    &:focus
      outline: none
    
  &__form-button
    -webkit-appearance: none
    display: inline-block
    vertical-align: top
    width: 180px
    height: 48px
    margin: 0
    padding: 15px 0
    text-align: center
    font-size: $font-size * 0.8
    border: none
    border-radius: 0 3px 3px 0
    transition: background-color 0.3s ease-out
    cursor: pointer
  
    @include max-screen(800px)
      width: 100px
    
    &--bg-lime
      color: $color__white
      background-color: $color__lime
  
      &:hover
        background-color: lighten($color__lime, 7%)
      
    &--bg-black
      color: $color__white
      background-color: $color__black-light
  
      &:hover
        background-color: lighten($color__black-light, 10%)