.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding-top: 51px
  padding-left: 52px
  z-index: 9
  box-sizing: border-box
  
  @include max-screen(700px)
    padding-top: 30px
    padding-left: 30px
    
  @include max-screen(400px)
    padding-left: 15px
  
  &__logo
    width: 244px
    height: 40px
  
    @include max-screen(500px)
      width: 200px
      
    @include max-screen(400px)
      width: 170px
      
  &__logo-image
    width: 100%
  
  &__invite
    display: block
    position: absolute
    top: 45px
    right: 61px
    width: 135px
    padding: 11px 0
    text-align: center
    color: $color__white
    background-color: $color__black-light
    font-size: $font-size * 0.8
    font-family: $font-family__roboto
    font-weight: $font-weight__medium
    border: none
    border-radius: 3px
    transition: background-color 0.3s ease-out
    cursor: pointer
  
    @include max-screen(700px)
      top: 25px
      right: 30px
  
    @include max-screen(500px)
      width: 100px
      padding: 8px 0 9px 0
      font-weight: $font-weight__regular
  
    @include max-screen(400px)
      right: 15px
  
  
    &:hover
      background-color: lighten($color__black-light, 10%)
      
    &:focus
      outline: none
      
    &:active
      background-color: $color__black-light
    
  