.introduction
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background-image: url('../img/bg/bg__introduction.png')
  background-repeat: no-repeat
  background-size: cover
  background-position: 50%
  overflow: hidden
  z-index: 8
  
  &::after
    content: ''
    display: block
    position: absolute
    top: 25%
    right: 3.5%
    width: 839px
    height: 484px
    background-image: url('../img/laptop.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: 50%
    z-index: 8
    
    @include max-screen(1370px)
      right: -300px
  
    @include max-screen-height(700px)
      top: 18%
      
    @include max-screen(1000px)
      display: none
  
  
  &__content
    position: absolute
    top: 28.62%
    left: 9%
    width: 406px
    z-index: 9
    
    @include max-screen(500px)
      left: 0
      width: 100%
      padding: 0 20px
      box-sizing: border-box
  
  &__headline
    margin: 0 0 26px
    padding: 0
    position: relative
    text-transform: uppercase
    color: $color__white
    font-size: $font-size * 2.75
    font-family: $font-family__russo
    font-weight: $font-weight__light
  
    @include max-screen(500px)
      font-size: $font-size * 2.4
      
    @include max-screen(400px)
      font-size: $font-size * 2.1
      
    @include max-screen(350px)
      font-size: $font-size * 1.8
  
    @include max-screen-height(380px)
      font-size: $font-size * 2.2
      
    @include max-screen-height(330px)
      font-size: $font-size * 1.9


    &::after
      content: ''
      display: block
      position: absolute
      top: 101%
      left: 0
      width: 40px
      height: 4px
      background-color: $color__blue
    
  &__caption
    position: relative
    margin: 0
    padding: 0
    width: 330px
    color: $color__white
    font-size: $font-size * 0.9
    line-height: 1.4
  
    @include max-screen(400px)
      width: 100%
      font-size: $font-size * 0.7
  
    @include max-screen-height(330px)
      font-size: $font-size * 0.8
  
    
    &::after
      content: ''
      position: absolute
      top: calc(100% + 30px)
      left: 0
      width: 16px
      height: 21px
      @extend %arrow-down-white
  
      @include max-screen-height(380px)
        display: none
      