{% extends 'templates/layouts/_layout_dashboard.html' %}

{% block aside %}
<!-- Aside start -->
<aside class="aside" id="cnt__aside">
  <div class="aside__content">
    <a href="#" class="aside__logo">
      <img src="img/logo.svg" alt="" width="244" height="40">
    </a>
    <div class="aside__filter" id="cnt__filter">
      <!-- Aside form start -->
      {% include 'templates/parts/dashboard/form-search.html' %}
      {% include 'templates/parts/dashboard/form-filter.html' %}
      <!-- Aside form end -->
    </div>
    <div class="aside__user user">
      <div class="user__avatar">
        <img src="img/user__default.png" alt="">
      </div>
      <span class="user__name">Ola Henderson</span>
      <ul class="user__menu">
        <li class="user__menu-item">
          <a href="" class="user__menu-link">Settings</a>
        </li>
        <li class="user__menu-item">
          <a href="" class="user__menu-link">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</aside>
<!-- Aside end -->
{% endblock %}
{% block main %}
<button type="button" class="filter-button" id="btn__filter" data-toggle-title="Hide filter">Show filter</button>
<!-- Top bar start -->
<section class="top-bar">
  <div class="top-bar__layout  top-bar__layout--stats">
    <h1 class="top-bar__headline">Dashboard</h1>
    <p class="top-bar__caption">Welcome Back, Ola!</p>
    <!-- Stats start -->
    {% include 'templates/parts/dashboard/stats.html' %}
    <!-- Stats end -->
  </div>
  <div class="top-bar__layout  top-bar__layout--search">
    <!-- Stats start -->
    {% include 'templates/parts/dashboard/search.html' %}
    <!-- Stats end -->
  </div>
</section>
<!-- Top bar end -->

<!-- Campaigns start -->
<section class="campaigns">
  <h2 class="campaigns__headline">Campaigns trending this week</h2>
  <ul class="campaigns__list">
    <li class="campaigns__item">
      <div class="campaigns__indicators">
        <div class="campaigns__velocity">
          <span class="campaigns__velocity-caption">Velocity</span>
          <div class="campaigns__velocity-scale">
            <div class="campaigns__velocity-range" data-velocity-range="5"></div>
          </div>
          <div class="campaigns__velocity-value">5/10</div>
        </div>
        <div class="campaigns__views">3,690</div>
      </div>
      <div class="campaigns__layouts" data-count="9">
      </div>
    </li>
    <li class="campaigns__item">
      <div class="campaigns__indicators">
        <div class="campaigns__velocity">
          <span class="campaigns__velocity-caption">Velocity</span>

          <div class="campaigns__velocity-scale">
            <div class="campaigns__velocity-range" data-velocity-range="3"></div>
          </div>
          <div class="campaigns__velocity-value">3/10</div>
        </div>
        <div class="campaigns__views">3,690</div>
      </div>
      <div class="campaigns__layouts" data-count="3">
      </div>
    </li>
    <li class="campaigns__item">
      <div class="campaigns__indicators">
        <div class="campaigns__velocity">
          <span class="campaigns__velocity-caption">Velocity</span>
          <div class="campaigns__velocity-scale">
            <div class="campaigns__velocity-range" data-velocity-range="7"></div>
          </div>
          <div class="campaigns__velocity-value">7/10</div>
        </div>
        <div class="campaigns__views">3,690</div>
      </div>
      <div class="campaigns__layouts" data-count="5">
      </div>
    </li>
    <li class="campaigns__item">
      <div class="campaigns__indicators">
        <div class="campaigns__velocity">
          <span class="campaigns__velocity-caption">Velocity</span>
          <div class="campaigns__velocity-scale">
            <div class="campaigns__velocity-range" data-velocity-range="10"></div>
          </div>
          <div class="campaigns__velocity-value">10/10</div>
        </div>
        <div class="campaigns__views">3,690</div>
      </div>
      <div class="campaigns__layouts" data-count="1">
      </div>
    </li>
  </ul>
</section>
<!-- Campaigns end -->

<!-- Campaigns start -->
<section class="campaigns">
  <h2 class="campaigns__headline">Ads trending this week</h2>
  <ul class="campaigns__list">
    <li class="campaigns__item">
      <div class="campaigns__indicators">
        <div class="campaigns__velocity">
          <span class="campaigns__velocity-caption">Velocity</span>
          <div class="campaigns__velocity-scale">
            <div class="campaigns__velocity-range" data-velocity-range="0"></div>
          </div>
          <div class="campaigns__velocity-value">0/10</div>
        </div>
        <div class="campaigns__views">3,690</div>
      </div>
    </li>
    <li class="campaigns__item">
      <div class="campaigns__indicators">
        <div class="campaigns__velocity">
          <span class="campaigns__velocity-caption">Velocity</span>
          <div class="campaigns__velocity-scale">
            <div class="campaigns__velocity-range" data-velocity-range="2"></div>
          </div>
          <div class="campaigns__velocity-value">2/10</div>
        </div>
        <div class="campaigns__views">3,690</div>
      </div>
    </li>
    <li class="campaigns__item">
      <div class="campaigns__indicators">
        <div class="campaigns__velocity">
          <span class="campaigns__velocity-caption">Velocity</span>
          <div class="campaigns__velocity-scale">
            <div class="campaigns__velocity-range" data-velocity-range="7"></div>
          </div>
          <div class="campaigns__velocity-value">7/10</div>
        </div>
        <div class="campaigns__views">3,690</div>
      </div>
    </li>
    <li class="campaigns__item">
      <div class="campaigns__indicators">
        <div class="campaigns__velocity">
          <span class="campaigns__velocity-caption">Velocity</span>
          <div class="campaigns__velocity-scale">
            <div class="campaigns__velocity-range" data-velocity-range="1"></div>
          </div>
          <div class="campaigns__velocity-value">1/10</div>
        </div>
        <div class="campaigns__views">3,690</div>
      </div>
    </li>
  </ul>
</section>
<!-- Campaigns end -->
{% endblock %}