{% extends 'templates/layouts/_layout_dashboard.html' %}

{% block aside %}
<!-- Aside start -->
<aside class="aside" id="cnt__aside">
  <div class="aside__content">
    <a href="#" class="aside__logo">
      <img src="img/logo.svg" alt="" width="244" height="40">
    </a>
    <div class="aside__filter" id="cnt__filter">
      <!-- Aside form start -->
      {% include 'templates/parts/dashboard/form-search.html' %}
      {% include 'templates/parts/dashboard/form-filter.html' %}
      <!-- Aside form end -->
    </div>
    <div class="aside__user user">
      <div class="user__avatar">
        <img src="img/user__default.png" alt="">
      </div>
      <span class="user__name">Ola Henderson</span>
      <ul class="user__menu">
        <li class="user__menu-item">
          <a href="" class="user__menu-link">Settings</a>
        </li>
        <li class="user__menu-item">
          <a href="" class="user__menu-link">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</aside>
<!-- Aside end -->
{% endblock %}
{% block main %}
<button type="button" class="filter-button" id="btn__filter" data-toggle-title="Hide filter">Show filter</button>
<!-- Top bar start -->
<section class="top-bar">
  <div class="top-bar__layout">
    <h1 class="top-bar__headline">Jaspers’s Market</h1>
    <p class="top-bar__caption">Diet 0001</p>
    <div class="top-bar__links">
      <p class="top-bar__links-caption">Campaign launched <strong>2 weeks ago</strong> and contains <strong>6 ads</strong> over <strong>4 accounts</strong> </p>
      <a href="#" class="top-bar__link">landingpageurl.com</a>
      <a href="#" class="top-bar__link">offerurl.com</a>
    </div>
  </div>
  <div class="top-bar__layout">
    <div class="search">
      <form action="/" class="search__form">
        <input type="text" class="search__input" placeholder="What are you looking for today?…">
        <button type="submit" class="search__button"></button>
      </form>
      <div class="velocity">
        <h2 class="velocity__headline">Campaign Velocity</h2>
        <div class="velocity__index">
          <div class="velocity__scale">
            <div class="velocity__range"></div>
          </div>
          <div class="velocity__value">10/10</div>
        </div>
        <a href="" class="velocity__download">Download landing page package</a>
        <div class="velocity__views">20,345</div>
      </div>
    </div>
  </div>
</section>
<!-- Top bar end -->

<!-- Campaigns start -->
<section class="campaigns">
  <h2 class="campaigns__headline">Ads trending this week</h2>
  <ul class="campaigns__list">
    <li class="campaigns__item">
      <div class="campaigns__indicators">
        <div class="campaigns__velocity">
          <span class="campaigns__velocity-caption">Velocity</span>
          <div class="campaigns__velocity-scale">
            <div class="campaigns__velocity-range" data-velocity-range="0"></div>
          </div>
          <div class="campaigns__velocity-value">0/10</div>
        </div>
        <div class="campaigns__views">3,690</div>
      </div>
    </li>
    <li class="campaigns__item">
      <div class="campaigns__indicators">
        <div class="campaigns__velocity">
          <span class="campaigns__velocity-caption">Velocity</span>
          <div class="campaigns__velocity-scale">
            <div class="campaigns__velocity-range" data-velocity-range="2"></div>
          </div>
          <div class="campaigns__velocity-value">2/10</div>
        </div>
        <div class="campaigns__views">3,690</div>
      </div>
    </li>
    <li class="campaigns__item">
      <div class="campaigns__indicators">
        <div class="campaigns__velocity">
          <span class="campaigns__velocity-caption">Velocity</span>
          <div class="campaigns__velocity-scale">
            <div class="campaigns__velocity-range" data-velocity-range="7"></div>
          </div>
          <div class="campaigns__velocity-value">7/10</div>
        </div>
        <div class="campaigns__views">3,690</div>
      </div>
    </li>
    <li class="campaigns__item">
      <div class="campaigns__indicators">
        <div class="campaigns__velocity">
          <span class="campaigns__velocity-caption">Velocity</span>
          <div class="campaigns__velocity-scale">
            <div class="campaigns__velocity-range" data-velocity-range="1"></div>
          </div>
          <div class="campaigns__velocity-value">1/10</div>
        </div>
        <div class="campaigns__views">3,690</div>
      </div>
    </li>
  </ul>
</section>
<!-- Campaigns end -->

<!-- Graph start -->
<section class="graph">
  <div class="graph__content">
    <h2 class="graph__headline">Velocity Graph</h2>
  </div>
</section>
<!-- Graph end -->
{% endblock %}