{% extends 'templates/layouts/_layout_front-page.html' %}

{% block header %}

<!-- Header start -->
<header class="header">
  <div class="header__logo">
    <img src="img/logo.svg" alt="Spy plane" width="244" height="40" class="header__logo-image">
  </div>
  <button type="button" class="header__invite">get invited</button>
</header>
<!-- Header end -->

{% endblock %}

{% block main %}

<!-- Introduction start -->
<section class="introduction" id="cnt__introduction">
  <div class="introduction__content">
    <h1 class="introduction__headline">Handpicked social ad intelligence</h1>
    <p class="introduction__caption">Painstakingly organised, beautifully displayed. SpyPlane is all killer no filler</p>
  </div>
</section>
<!-- Introduction end -->

<!-- Features left oriented start  -->
<section class="features  features--bg-white  features--top-shadow">
  <div class="features__content  features__content--left-oriented">
    <div class="features__image">
      <img src="img/features__circle.png" alt="Spy plane feature" width="273" height="275">
    </div>
    <div class="features__text">
      <h2 class="features__headline">Industry leading features give you an incredible edge over competition</h2>
      <p class="features__paragraph">Our technology doesn’t just give you insight into specific ads but entire campaigns
                                     that have been linked together using footprint recognition.</p>
      <p class="features__paragraph">Competitor activity and ad metrics are constantly measured to give each campaign a
                                     velocity score allowing you to observe the best performing ads being scaled up in
                                     real time.</p>
      <p class="features__paragraph">With visibility on both mobile and video in six core markets you have the you have
                                     the potential to dominate social</p>
    </div>
  </div>
</section>
<!-- Features left oriented end -->

<!-- Features right oriented start  -->
<section class="features  features--bg-grey">
  <div class="features__content  features__content--right-oriented">
    <div class="features__image">
      <img src="img/features__plane.png" alt="Spy plane feature" width="251" height="253">
    </div>
    <div class="features__text">
      <h2 class="features__headline">Industry leading features give you an incredible edge over competition</h2>
      <p class="features__paragraph">Our technology doesn’t just give you insight into specific ads but entire campaigns
                                     that have been linked together using footprint recognition.</p>
      <p class="features__paragraph">Competitor activity and ad metrics are constantly measured to give each campaign a
                                     velocity score allowing you to observe the best performing ads being scaled up in
                                     real time.</p>
      <p class="features__paragraph">With visibility on both mobile and video in six core markets you have the you have
                                     the potential to dominate social</p>
    </div>
  </div>
</section>
<!-- Features right oriented end  -->

<!-- Benefits start -->
{% import 'templates/data/benefits.html' as data %}
<section class="benefits  benefits--bottom-shadow" data--speed="-1">
  <div class="benefits__content">
    <h2 class="benefits__headline">Benefits of Spyplane</h2>
    <ul class="benefits__list">
      {% for benefit in data.benefits %}
      <li class="benefits__item">
        <h3 class="benefits__item-title">{{ benefit.title }}</h3>
        <p class="benefits__item-description">{{ benefit.description }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<!-- Benefits end -->

{% endblock %}


{% block footer %}

<!-- Footer start -->
<footer class="footer" id="cnt__footer">
  <div class="footer__content">
    <div class="footer__layout-forms">
      <form action="/" class="footer__form">
        <fieldset class="footer__form-fieldset">
          <legend class="footer__form-legend">signup with an invite code</legend>
          <input type="text" placeholder="enter code" class="footer__form-input">
          <button class="footer__form-button  footer__form-button--bg-lime">get invited</button>
        </fieldset>
      </form>
      <form action="/" class="footer__form">
        <fieldset class="footer__form-fieldset">
          <legend class="footer__form-legend">request an invite code</legend>
          <input type="text" placeholder="email address" class="footer__form-input">
          <button class="footer__form-button footer__form-button--bg-black">get invited</button>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="footer__terms">
    Terms & conditions, Privacy Policy, and Cookie Policy
  </div>
</footer>
<!-- Footer end -->

{% endblock %}